body {
  margin: 0px;
  padding: 0px;
  border-style: none;

  height: 100%;
  overflow: hidden;
}

#item-container {
  display: none;
}

#canvas-container {
  margin: 0px;
  padding: 0px;
  border-style: none;

  background-color: #dcdcdc;
  text-align: center;
}

#canvas {
  margin: 0px;
  padding: 0px;
  border-style: none;

  background-color: #ffffff;
}
